<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="csrf-token" content={get_csrf_token()} />
    <title>Blog · Chris Erin</title>
    <.live_title suffix="· Chris Erin">
      <%= assigns[:page_title] %>
    </.live_title>
    <link rel="alternate" type="application/rss+xml" title="Chris Erin's Blog" href={~p"/feed"} />
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>
  </head>
  <body>
    <header>
      <section class="container top">
        <section class="heading">
        <div class="title">Chris Erin</div>
        <div class="description">Software Developer</div>
        </section>
        <nav role="navigation">
          <.link href="/">Home</.link>
          <.link href="/about">About</.link>
          <.link href="/projects">Projects</.link>
          <.link href="/now">Now</.link>
          <.link href="/posts">Posts</.link>
          <.link href="/tils">TIL</.link>
        </nav>
      </section>
    </header>
    <main role="main" class="container">
      <p class="alert alert-info" role="alert"><%= Phoenix.Flash.get(@flash, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= Phoenix.Flash.get(@flash, :error) %></p>
      <%= @inner_content %>
    </main>
  </body>
</html>