
<main class="content about">
    <section>
        <h3>About</h3>
        <ul>
        <li>I am a Full Stack software developer.</li>
        <li>My current stack is React/Typescript/Elixir/Postgres.</li>
        <li>I am a musician who plays the trumpet, the guitar, the drums, and synthesizers both modular and pre-patched.</li>
        <li>I've been working as a software developer since November 2002.</li>
        </ul>
    </section>
</main>
