
<main class="content now">
    <section>
        <h3>Now</h3>
        <p>My current project is <a href="https://github.com/chriserin/seq">seq</a> a midi sequencer for your cli built on top of the golang/bubbletea framework</p>
    </section>
</main>
