
<main class="content projects">
    <section>
        <h2>Projects</h2>
        <ul>
        <li><a href="https://github.com/chriserin/pg_explain">pg_explain</a></li>
        <li><a href="https://github.com/chriserin/seq">seq</a></li>
        <li><a href="/games/tic-tac-toe">Tic-Tac-Toe Game</a> - Interactive game built with Phoenix LiveView</li>
        </ul>
    </section>
</main>
