<h1>Blog Posts</h1>

<div class="list-container">
  <%= for post <- @posts do %>
    <a href="<%= Routes.post_path(@conn, :show, post) %>">
      <div class="list-post">
        <%= raw(Earmark.as_html!(post.title))  %></td>
      </div>
    </a>
  <% end %>
</div>
