<div class="post">
  <div class="title">
    <%= raw Earmark.as_html!(@post.title) %>
  </div>

  <div class="body">
    <%= raw Earmark.as_html!(@post.body)  %>
  </div>
</div>

<span><%= link "Edit", to: Routes.post_path(@conn, :edit, @post) %></span>
<span><%= link "Back", to: Routes.post_path(@conn, :index) %></span>
