/* This file is for your main application css. */
@import "./phoenix.css";

/* Alerts and form errors */
.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}
.alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}
.alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}
.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
.alert p {
  margin-bottom: 0;
}
.alert:empty {
  display: none;
}
.invalid-feedback {
  color: #a94442;
  display: block;
  margin: -1rem 0 2rem;
}



.title {
  font-size: 24px;
  margin-bottom: 2rem;
  color: #fdfdfd;
  background-color: #2f1847;
  padding: 2rem;
}

.body {
  background-color: #fdfdfd;
  padding: 2rem;
}

.list-container {
  background-color: #fdfdfd;
  padding: 0rem 0rem;

  .list-post {
    padding: 2rem 3rem;
    border-bottom: 1px solid #e2e2e2;

    p:last-child {
      margin-bottom: 0;
    }

  }

  a:last-child .list-post {
    border-bottom: 0;
  }

  a .list-post {
    &:hover {
      color: white;
      background-color: #2f1847;
    }
  }

/* 2f1847 624763 c62e65 d63af9 */
  a:nth-child(4n+1) .list-post {
    &:hover {
      background-color: #2f1847;
    }
  }

  a:nth-child(4n+2) .list-post {
    &:hover {
      background-color: #624763;
    }
  }

  a:nth-child(4n+3) .list-post {
    &:hover {
      background-color: #c62e65;
    }
  }

  a:nth-child(4n+4) .list-post {
    &:hover {
      color: white;
      background-color: #d63af9;
    }
  }
}

body {
  background-color: #e2e2e2;
}
